
.idea/
__pycache__/

PyLorex/Calibration/Calibration_images*
PyLorex/Calibration/Results/**/*.jpg
PyLorex/Calibration/Results/**/*.png
PyLorex/Calibration/Results/**/*.html
PyLorex/Calibration/Results/**/*.txt

PyLorex/LorexLib/voices/
PyLorex/Temp/
PyLorex/OldStuff/
PyLorex/Environment/
PyLorex/Calibration/CameraCenterSnapshots/
PyLorex/Calibration/PlankSnapshots/
PyLorex/Calibration/WallProbeSnapshots/


PyLorex/Markers/generated/

PyLorex/Markers/

PyLorex/LorexLib/temp/
