
.idea/

PyLorex/Calibration/Calibration_images*
PyLorex/Calibration/Results/**/*.jpg
PyLorex/Calibration/Results/**/*.png
PyLorex/Calibration/Results/**/*.html
PyLorex/Calibration/Results/**/*.txt

PyLorex/library/__pycache__/
PyLorex/library/voices/
PyLorex/Temp/
PyLorex/OldStuff/
