
.idea/

PyLorex/Calibration/Calibration_images*
PyLorex/Calibration/Results/**/*.jpg
PyLorex/Calibration/Results/**/*.png
PyLorex/Calibration/Results/**/*.html
PyLorex/Calibration/Results/**/*.txt

PyLorex/Library/__pycache__/
PyLorex/Library/voices/
PyLorex/Temp/
PyLorex/OldStuff/
PyLorex/Environment/
